{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <dl>
        <dt>{{ 'profile.show.username'|trans }}</dt>
        <dd>{{ user.username }}</dd>        
    </dl>
    <dl>
        <dt>{{ 'profile.show.email'|trans }}</dt>
        <dd>{{ user.email }}</dd>
    </dl>
    
  
</div>
