{#
   // AM-System
   // Copyright (C) 2019 Robert Krasowski
   // This program was created during an internship at DigiTrace GmbH
   // Read LIZENZ.txt for full notice

   // This program is free software: you can redistribute it and/or modify
   // it under the terms of the GNU General Public License as published by
   // the Free Software Foundation, either version 3 of the License, or
   // (at your option) any later version.

   // This program is distributed in the hope that it will be useful,
   // but WITHOUT ANY WARRANTY; without even the implied warranty of
   // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   // GNU General Public License for more details.

   // You should have received a copy of the GNU General Public License
   // along with this program.  If not, see <http://www.gnu.org/licenses/>.
   
#}
{% extends 'base.html.twig' %}

{% block content1 %}
           <h2>FAQ zur Suche</h2>
           Die Suchleiste in der Fallübersicht dient dazu, nach entsprechenden Fällen zu suchen / filtern.
           Hierbei kann allgemein oder nach speziellen Parametern gesucht werden.
           <h3>Allgemeine Suche</h3>
           In der allgemeine Suche muss lediglich ein Suchwort angegeben werden, beispielsweise eine Fallid. Das System nimmt das Suchwort und sucht an folgenden Stellen:
           <ul>
               <li>Fallid</li>
               <li>Fallbeschreibung</li>
           </ul>
           <br><br>
           <h3>Erweiterte Suche</h3>
           Wenn die Ergebnisse der allgemeinen Suche nicht treffend sind, kann eine erweiterte Suche angewendet werden. Bei dieser Suche kann dem System explizit nach bestimmten Kriterien untersucht werden. Hierbei ist es jedoch von Nöten, richtige Parameterdefinitionen durchzuführen.
           Jede Parameterisierung hat folgende folgenden Aufbau:<br> 
           &lt;Kriterium&gt;:&lt;Wert&gt; <br>
           Für Kriteriendefinitionen siehe unten stehenden Liste. Bei den Werten können standardmäßig nur nach Wörtern gesucht werden. Falls nach Teilsätzen gesucht werden sollen, kann die Notation &lt;Kriterium&gt;:"&lt;Wert&gt;" verwendet werden.<br>
           Es können mehrere Parameterisierungen verwendet werden, hierbei muss das zu suchende Objekt alle Kriterien erfüllen.<br>
           Beispiel: "name:tosh"<br>
           In diesem Beispiel wird nach einem Fall gesucht, dessen Name "tosh" beinhaltet.
           <br><br>
           Hier eine Liste der Kriterien:
           <ul>
               <li>caseid: Fallid</li>
               <li>desc: Beschreibung des Falles</li>
               <li>casebegin: Wann der Fall angelegt wurde</li>
               <li>caseactive: Ob ein Fall derzeit aktiv ist</li>
           </ul>
           
           
           
           
{% endblock %}



{% block context %}
    
{% endblock %}


